@import './reset.css';
@media only screen and (-webkit-device-pixel-ratio: 2) {
  .border-1px::before {
    transform: scaleY(0.5);
  }
}
@media only screen and (-webkit-device-pixel-ratio: 3) {
  .border-1px::before {
    transform: scaleY(0.333333);
  }
}

// html{
//   font-size: 70px
// }

#app
  height 100%
  width 100%
.container
  height 100%
  width 100%


  //头部
  .header
    height 70px
    width 100%
    position fixed
    background white
    z-index 4
    .navigation
      display flex
      height 35px
      justify-content: space-around
      align-items center
      .logo
        display block
        color black
        font-weight bold
        width 65px       
      .searchButton
        background #EDEDED
        padding 6px 20px
        border-radius 4px
        font-size 14px
      .loginBtn
        font-size 14px
        color red
        border-radius 3px
        border 1px solid red
        padding 4px


    .tabContainer
      height 35px
      width 100%
      display flex
      justify-content space-around
      align-items center
      font-size 16px
      .tabList
        height 35px
        line-height 35px
        padding 0 10px
        &.actived
          border-bottom 3px solid red
        
      
  //中间部分
  .contentContainer
    // background blue
    width 100%
    height 100%
    padding-top 70px
    .figures
      height 180px
      // width 100%  
      // background yellow
      .swiper-container
        // z-index 5
        width 100%
        height 180px
        // img
        //   width 375px
        //   height 180px
 
    .contentDetail
      height 900px
      width 100%
      // background pink
      .titleContent
        width 100%
        height 30px
        // background pink
        .titleDetail
          display flex
          justify-content space-around
          align-content center
          .title
            padding 6px
            font-size 14px
      .detailList
        // background purple
        height 180px
        display flex
        flex-wrap wrap
        .contentList
          display flex
          flex-direction column
          align-items center
        img
          width 75px
          height 70px
        span
          font-size 14px
      .newBoyTab
        height 200px
        width 100%
        // background red
        .newBoy
          height 40px
          // background blue
          text-align center
          line-height 40px
        .newGift
          height 160px
          // background pink
          display flex
          .hongbaoTab
            position relative
            width 50%
            background #F9E9CF
            margin 0 0 0 10px
            padding 15px 0 0 15px
            font-weight bold
            img
              position absolute
              top 35px
              left 38px
              width 100px
              height 120px
          .fuli
            width 50%
            // background blue
            margin 0 10px 0 5px
            .fulishe
              position relative
              height 80px
              background #FBE2D3
              margin 0 0 5px 0
              a
                
                display block
                padding 8px 0 0 8px
              img
                position absolute
                bottom 0
                right 0
                width 100px
                height 80px
            .pingtuan
              background #FFECC2
              height 75px
              position relative
              a
                display block
                padding 8px 0 0 8px
                img
                  width 100px
                  height 80px
                  position absolute
      .brand
        height 400px
        width 100%
        // background blue
        .brandMake
          height 15px
          display flex
          justify-content space-between
          // background red
          padding 10px
        .brandList
          height 280px
          // background yellow
          display flex
          justify-content space-around
          flex-wrap wrap
          .brandItem
            height 140px
            width 140px
            margin-left 20px
            
            a
              display block
              img
                width 135px
                height 126px



    //底部
  .footer
    height 50px
    width 100%
    background white
    position fixed
    bottom 0
    right 0
    display flex
    justify-content space-around
    // align-items center
    .home
      align-items center
      flex-grow 2.4
      display flex
      flex-direction column
      // background pink
      .iconfont
        font-size 30px
    .sort
      align-items center
      flex-grow 2.4
      // background purple
      display flex
      flex-direction column
      .iconfont
        font-size 30px
    .things
      align-items center
      flex-grow 2.4
      // background yellow
      display flex
      flex-direction column
      .iconfont
        font-size 30px
    .shopping
      align-items center
      flex-grow 2.4
      // background red
      display flex
      flex-direction column
      .iconfont
        font-size 30px
    .personal
      align-items center
      flex-grow 2.4
      // background blue
      display flex
      flex-direction column
      .iconfont
        font-size 30px
